@model List<EntityLayer.Concrete.Writer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Mail</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.WriterID</td>
            <td>@item.WriterName</td>
            <td>@item.WriterSurname</td>
            <td>@item.WriterMail</td>
        </tr>
    }
</table>